<div class="container">
  <form novalidate [formGroup]="employee" class="form-horizontal" (ngSubmit)="saveEmployee(employee)">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Email" formControlName="email"/>
      </div>
    </div>
    <div formGroupName="passwords">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"/>

      </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary" [disabled]="employee.invalid">Save</button>
        <button class="btn btn-danger" (click)="reset()">Clear</button>
      </div>
    </div>
  </form>
  <h3 class="alert alert-info text-center loading-text" *ngIf="employees.length === 0">Loading Users...</h3>
  <table class="table table-striped table-bordered" *ngIf="employees.length > 0">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>
        <a href="javascript:void(0)" (click)="setEditMode(employee)">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
      </td>
      <td>
        <a href="javascript:void(0)" (click)="deleteEmployee(employee)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
